@import '~materialize-css/dist/css/materialize.min.css';
table{
    margin-top: -5px !important;
    thead{
        collapsible-table-row{
                background-color: #01675a;
                th{
                    color: white;
                    text-align: center
                }
               
                 
        }  
    }
    tbody{
    collapsible-table-row{
        td{
        background-color: white;
        text-align: center;
        
        }
        .deleteIcon{
            color: red;
            font-size: 20px;
        } 
    } 
}

}


.paginator{
    background-color: #d5e6e4;
    margin-bottom: 20px;
}

