<div style="height: fit-content;width: 100%;">
  <table style="position: relative;top: 10px;">
    <thead>
      <collapsible-table-row>
        <th>ID</th>
        <th>Имя парламента</th>
        <th>Aдрес</th>
        <th>Эл. почта</th>
        <th>Время регистрации</th>
      </collapsible-table-row>
    </thead>
  
    <tbody *ngFor="let parliament of provider.parliament">
      <collapsible-table-row style="border-bottom: 1px solid #d6d4d4">
        <td>{{parliament.Id}}</td>
        <td>{{parliament.CompanyName}}</td>
        <td>{{parliament.Address}}</td>
        <td>{{parliament.Email}}</td>
        <td>{{parliament.RegTime}}</td>
      </collapsible-table-row>
    </tbody>
    <app-loading-full-screen [loading]="loading" style="width: 100%" ></app-loading-full-screen>
  </table>
  
  <div class="paginator" *ngIf="totalCount > 0">
    <mat-paginator [length]="totalCount" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]" (page)="paginate($event,provider.Id)">
    </mat-paginator>
  </div>
  </div>
  <div *ngIf="isParliamentsAvailable && totalCount==0" style="width: 100%;display: flex;height: 50px;">
    <p style="margin: auto;color: black;font-weight: bold">Здесь ничего нет</p>
  </div>
  