.close{
    width: 12px;
    height: 12px;
    background-image: url("../../../../assets/images/close.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: right;
}
.submit{
    background-color: #01675a;
    color: white;
    cursor: pointer;
    width: 50%;
    margin: auto;
}