<div class="close" (click)="onNoClick()"></div>

<form [formGroup] = "percentForm">
    <h5 style="text-align: center">Редактировать</h5>
  <div class="form-group" style= "margin-top: 10px">
  <input type="text" class="form-control" formControlName = "percentType" OnlyNumber = "true">
  <span class="text-danger"  *ngIf="percentSize">{{percentSize}}</span>
</div>
<app-loading [loading] = "loading"></app-loading>
<div style="display: flex; height: fit-content;width: 100%;margin-top: 20px">
    <input  class="form-control submit" type="submit"   [disabled] = "!percentForm.valid || (percentForm.get('percentType').value >=100 && data!='summa') " value="Редактировать" (click) = "putPercent()">
  </div>
</form>