table{
    margin-top: 30px; 
    margin-bottom: 0px !important;
 thead{
     tr{
         background-color: #01675a;
         border: 3px solid white;
          color: white;
          th{
              text-align: center;
          }  
     }
 }
 tbody{
     tr{
         background: white;
         cursor: pointer;
         td{
             text-align: center;
         }
     }
     .smsText{
        display: inline-block;
        width: 100px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
     }
     .deleteIcon{
         cursor: pointer;
         font-size: 20px;
         color: red;
     }
     .fa-eye{
        font-size: 20px;
        color: #01675a;
     }
     .fa-eye:hover{
         color: #79a9a3;
         cursor: pointer
     }
 }
}
.loading{
 background-color:rgba(255,255,255, 0.5);
 position: absolute;
 left:0;
 top:0;
 bottom: 0;
 right: 0;
 display: flex;  
}
:host ::ng-deep mat-spinner{
 margin:auto;
 svg{
     width: 30px !important;
         height: 30px !important;
  circle {
     stroke: grey !important;
 }
}}

.paginator{
 background-color: #d5e6e4;
}