<div class="table-responsive tab">
    <table class="table table-styling" >
        <thead>
            <tr>
                <th>Имя парламента</th>
                <th>Название бара</th>
                <th>Дата</th>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Посмотреть</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor = "let item of smsInfo" style= "border-bottom: 1px solid #ececec">
                <td>{{item.CompanyName}}</td>
                <td>{{item.BarName}}</td>
                <td>{{item.Time}}</td>
                <td>
                    <span class="smsText">{{item.Title}}</span></td>
                <td>
                        <span class="smsText">{{item.Text}}</span>
                    </td>
                    <td><i class="fa fa-eye" (click) = "openDialog(item,sms)" ></i></td>
                <td>
                  <i class="fa fa-trash-o deleteIcon" aria-hidden="true" (click)="onClickDelete(item.Id)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="loading" *ngIf='loading'>
        <mat-spinner style="width: 30px !important;height: 30px !important;"></mat-spinner>
      </div>
  </div>
  <div class="paginator">
    <mat-paginator [length]="totalCount" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]" (page) = "paginate($event)">
    </mat-paginator>
  </div>