<div class="createProvider">
  <div class="addProvider" (click)="openDialog(providerInfo)"></div>
</div>
<div style="height: fit-content;width:100%">
  <collapsible-table [type]="'expandable'" bordered style="width: 100%; height: fit-content;margin-top: 100px">
    <thead>
      <collapsible-table-row>
        <th>ID</th>
        <th>Имя провайдера</th>
        <th>Количество</th>
        <th>Долг</th>
        <th>Пароль</th>
        <th>Активный или пассивный</th>
        <th>Удалить</th>
      </collapsible-table-row>
    </thead>

    <tbody *ngFor="let item of providerInfo">
      <collapsible-table-row [detail]="detail1" (click)="item.open = !item.open" style="border-bottom: 1px solid #d6d4d4" [ngClass]="{'disable' : !item.IsActive}">
        <td>{{item.Id}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.ParliamentsCount}}</td>
        <td>
        <div style="width: 50%;display: -webkit-inline-box;margin-left: 15px;">
          <p [ngStyle]="getStyle(item) " style="margin: 0;font-weight: bold">{{item.ResetedDebtsCount}}</p>
          <i class="fa fa-edit" (click)="onClickDebtEdit(item.Id)" style="margin-left: 3px;color: green"></i>
          </div>
        </td>
        <td>{{item.parol}}</td>
        <td>
          <mat-slide-toggle [ngClass]="{'disableToggle' : !item.IsActive}" class="example-margin pointer-all" [color]="color"
            [checked]="item.IsActive" [disabled]="disabled" (click)="clickToggle(item.Id,item.IsActive)"></mat-slide-toggle>
        </td>
        <td>
          <i class="fa fa-trash-o deleteIcon" aria-hidden="true" (click)="onClickDelete(item.Id)"></i>
        </td>
      </collapsible-table-row>
      <collapsible-table-row-detail #detail1>
        <app-parliaments-of-provider [provider]="item" [providerId]="item.Id" [providerInfo]="providerInfo" [open]="item.open"></app-parliaments-of-provider>
      </collapsible-table-row-detail>
    </tbody>
    <app-loading-full-screen [loading]="loading" style="width: 100%"></app-loading-full-screen>
  </collapsible-table>
  <div class="paginator" *ngIf="totalCount > 0">
    <mat-paginator [length]="totalCount" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]" (page)="paginate($event)">
    </mat-paginator>
  </div>
</div>
<div *ngIf="isProvidersAvailable && totalCount==0" style="width: 100%;display: flex;height: 60px;">
  <p style="margin: auto;color: black;font-weight: bold">Здесь ничего нет</p>
</div>