@import '~materialize-css/dist/css/materialize.min.css';
.createProvider{
    width: 100%;
    height: fit-content;
    display: flex;
    .addProvider{
    height: 50px;
    width: 50px;
    margin: auto;
    background-image: url("../../../../assets/images/addAdmin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor:pointer;
    }
}
:host ::ng-deep collapsible-table{
    margin-top: 20px !important;
    thead{
        collapsible-table-row{
                background-color: #01675a;
                th{
                    color: white;
                    text-align: center
                }             
        }  
    }
    tbody{
    collapsible-table-row{
        td{
        background-color: white;
        text-align: center;
        
        }
        .deleteIcon{
            color: red;
            font-size: 20px;
        } 
        .example-margin.mat-checked {
           .mat-slide-toggle-label{
               .mat-slide-toggle-bar{
                   background-color: rgba(33, 177, 15, 0.5);
                   .mat-slide-toggle-thumb-container{
                        .mat-slide-toggle-thumb{
                            background-color: #4ec737;
                        }
                   }
               }
           }
       }
    } 
   collapsible-table-row-detail{
        
        collapsible-list-item{
        collapsible-body{
            box-shadow: none !important;
            padding: 0px 70px !important;
            border-bottom: none !important;
            table{
                margin-top: 20px;
            }
        }}
    }
}
.loading{
    background-color:rgba(255,255,255, 0.5);
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    display: flex; 
}
}
:host ::ng-deep mat-spinner{
    margin:auto;
    svg{
        width: 30px !important;
            height: 30px !important;
     circle {
        stroke: grey !important;
    }
}}
.ascendingOrder,.descendingOrder{
    cursor: pointer;
} 
.ascendingOrder:hover{
    color: greenyellow !important;
    
}
.descendingOrder:hover{
    color: greenyellow !important;
}

.paginator{
    background-color: #d5e6e4;
    
}

.paginatorForFilter{
    background-color: white;
}

.disable{
    opacity: 0.5;
    pointer-events: none;
}
.disableToggle{
    opacity: 0.5
}
.pointer-all{
    pointer-events: all;





    
}