<div class="table-responsive tab">
    <table class="table table-styling">
        <thead>
            <tr>
                <th>Время создания</th>
                <th>Имя парламента</th>
                <th>Название бара</th>
                <th>Изображение</th>
                <th>Начало </th>
                <th>Конец</th>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Посмотреть</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of annauncementInfo" style= "border-bottom: 1px solid #ececec">
                <td>{{item.CreateTime}}</td>
                <td>{{item.CompanyName}}</td>
                <td>{{item.BarName}}</td>
                <td class="image">
                    <div class="img" [ngStyle]="getImage(item.AnnouncementsImage)"></div>
                </td>
                <td>{{item.StartTime}}</td>
                <td>{{item.EndTime}}</td>
                <td>
                    <span class="announcementText">{{item.Title}}</span></td>
                <td>
                    <span class="announcementText">{{item.Text}}</span>
                </td>
                <td><i class="fa fa-eye" (click) = "openDialog(item,annauncement)" ></i></td>
                <td>
                    <i class="fa fa-trash-o deleteIcon" aria-hidden="true" (click)="onClickDelete(item.AnnouncementsId)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="loading" *ngIf='loading'>
        <mat-spinner style="width: 30px !important;height: 30px !important;"></mat-spinner>
    </div>
</div>
<div class="paginator">
    <mat-paginator [length]="totalCount" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]" (page)="paginate($event)">
    </mat-paginator>
</div>