.confirmDelete{
    height: 100px;
    width: 100%;
    background-color: aliceblue;
}
.confirmForm{
    margin-top: 20px;
    .btn{
        width: 100%;
        display: flex;
        padding: 0
    }
    .submit{
        background-color: #01675a;
        color: white;
        cursor: pointer;
        width: 50%;
        margin: auto;
    }
}
.form-group{
    margin-bottom: 1rem
}