<h5 style="text-align:center">Вы одобряете эту операцию?</h5>
<div>
  <span style="color:red" *ngIf="enteredIncorrect">Ваш пароль введен неверно</span>
  <form class="confirmForm" [formGroup]="confirmForm">
    <div class="form-group">
      <input class="form-control" type="password" placeholder="пароль" formControlName="confirmPassword" style= "margin-bottom: 7px">
      <span class="text-danger" *ngIf="confirmForm.get('confirmPassword').hasError('required') && confirmForm.get('confirmPassword').touched">Пароль необходимо</span>
    </div>
    <app-loading [loading]="loading" style="width: 100%"></app-loading>
    <div  class="btn">
      <input  class="form-control submit" type="submit" [disabled]="!confirmForm.valid"
        value="Подтвердить" (click)="onConfirmClick()">
    </div>
  </form>
</div>