.createAdm{
    width: 100%;
    height: fit-content;
    display: flex;
    .addAdmin{
    height: 50px;
    width: 50px;
    margin: auto;
    background-image: url("../../../../assets/images/addAdmin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor:pointer;
    }
}

table{
    margin-top: 30px; 
    margin-bottom: 0px !important;
 thead{
     tr{
         background-color: #01675a;
         border: 3px solid white;
          color: white;
          th{
              text-align: center;
          }  
     }
 }
 tbody{
     tr{
         background: white;
         cursor: pointer;
         td{
             text-align: center;
         }
     }   
 }
 .fa{
    font-size: 20px;
    }
    
    .editIcon{
        cursor:pointer;
        color: green;
    }
 .deleteIcon{
     cursor: pointer;
     font-size: 20px;
     color: red;
 }
}

.paginator{
 background-color: #d5e6e4;
}