<!--mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Change username and role
      </mat-panel-title>
    </mat-expansion-panel-header>
    <label>Old username:</label>
    <br>
    <input type="text" placeholder="old username"><br>
    <label>New username:</label><br>
    <input type="text" placeholder="new username"><br>
    <label>Old role:</label><br>
    <input type="text" placeholder="old role"><br>
    <label>New role:</label><br>
    <input type="text" placeholder="new role"><br>
    <input type="submit" value="Change" (click) = "" >
  </mat-expansion-panel>
 
</mat-accordion-->
<div class="createAdm"><div class="addAdmin" (click)="openDialog()"></div></div>
<div style= "padding: 0.1rem 5rem;">
<div class="table-responsive tab">
  <table class="table table-styling" >
      <thead>
          <tr>
              <th>Имя администратора</th>
              <!-- <th>Роль</th> -->
              <th>Редактировать</th>
              <th>Удалить</th>
          </tr>
      </thead>
      <tbody *ngFor="let item of adminsList;let i = index">
        <tr *ngIf = "i != 0">
          <td>{{item?.Username}}</td>
          <!-- <td>{{item?.Role}}</td> -->
          <td style="text-align: center">
            <i class="fa fa-edit editIcon" (click) = "openEditDialog(item)" ></i>
          </td >
          <td style="text-align: center">
            <i class="fa fa-trash-o deleteIcon" aria-hidden="true" (click)="onClickDelete(item.Id)"></i>
          </td>
      
        </tr>
      </tbody>
      <app-loading-full-screen [loading]="loading" style="width: 100%" ></app-loading-full-screen>
  </table>
 
</div>
<div class="paginator" *ngIf = "totalCount > 0">
  <mat-paginator [length]="totalCount-1" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]" (page)="paginate($event)">
  </mat-paginator>
</div>
</div>
   