:host ::ng-deep .mat-expansion-panel-header{
    // min-height: 100px !important;
    // height: 100px !important;
    margin-top: 25px;   
    // background: rgb(175, 212, 207);
    height: 48px; 
    
    min-height: 48px !important;
}
:host ::ng-deep  .mat-expansion-indicator{
    display: none;
}
.loginForm{
    input{
        width: 100%;
    }
    .submit{
        width: 40% !important;
        cursor: pointer;
        margin-top: 10px;
        color: white;
        background: #01675a;
    }
}
.passwordForm{
    input{
        width: 100%;
    }
    .submit{
        width: 40% !important;
        cursor: pointer;
        margin-top: 10px;
        color: white;
        background: #01675a;
    }
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
   .deleteIcon{
       cursor: pointer;
      color: red;
      font-size: 20px;
   }
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}


.addCountry{
    margin-left: 20px;
    height: fit-content;
    display: flex;
    .country{
    height: 50px;
    width: 50px;
    background-image: url("../../../../assets/images/add.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor:pointer;
    }
    
}
.image{
    display: flex;
    .img{
        height: 60px;
        width: 60px;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
}
:host ::ng-deep button {
    margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff;
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
    color: #ffffff;
}
.loading{
    background-color:rgba(255,255,255, 0.5);
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    display: flex;   
}
:host ::ng-deep mat-spinner{
    margin:auto;
    svg{
        width: 50px !important;
            height: 50px !important;
     circle {
        stroke: grey !important;
    }
}}
.table{
    tr{
        border: 1px solid #dddddd;
    }
    td{
        border: none
    }
}