<!-- changte login -->
<div class="row">
<mat-accordion class="col-lg-4">
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" >
    <mat-expansion-panel-header>
      <mat-panel-title style="color:#01675a;font-weight: bold">
        Изменить  логин
      </mat-panel-title>

    </mat-expansion-panel-header>
    
    <form class="row loginForm" [formGroup]="loginForm" >
      <div class="form-group col-lg-12">
        <label>Новый логин:</label>
        <input class="form-control" type="text" placeholder="имя пользователя" formControlName="newLogin" autofocus>
        <span class="text-danger" *ngIf="loginForm.get('newLogin').hasError('required') && loginForm.get('newLogin').touched">Имя необходимо</span>
        <span class="text-danger" *ngIf="loginForm.get('newLogin').hasError('minlength') && loginForm.get('newLogin').touched">Длина имени должен быть больше 3 символов</span>
        <span class="text-danger" *ngIf="loginForm.get('newLogin').hasError('maxlength') && loginForm.get('newLogin').touched">Длина имени должен быть меньше 15 символов</span>
      </div>
      <app-loading [loading] = "loading" style="width: 20%"></app-loading>
      <div class="form-group col-lg-12">
        <input class="form-control submit" type="submit" [disabled] = "!loginForm.valid" value="Подтвердить" (click)="_changeUsername()">
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<!-- change password -->

<mat-accordion class="col-lg-4">
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" >
    <mat-expansion-panel-header>
      <mat-panel-title style="color:#01675a;font-weight: bold">
        Изменить пароль
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="row passwordForm" [formGroup]="passwordForm">
      <div class="form-group col-lg-12">
        <label>Старый пароль:</label>
        <input class="form-control" name = "password" type="password" placeholder="старый пароль" formControlName="oldPassword">
        <span class="text-danger" *ngIf="passwordForm.get('oldPassword').hasError('required') && passwordForm.get('oldPassword').touched">Старый пароль необходимо</span>
      </div>
      <div class="form-group col-lg-12">
        <label>Новый пароль:</label>
        <input class="form-control" type="password" placeholder="новый пароль" formControlName="newPassword">
        <span class="text-danger" *ngIf="passwordForm.get('newPassword').hasError('required') && passwordForm.get('newPassword').touched">Пароль необходимо</span>
        <span class="text-danger" *ngIf="passwordForm.get('newPassword').hasError('pattern') && passwordForm.get('newPassword').touched">Введите пароль в правильным формате</span>
        <span class="text-danger" *ngIf="passwordForm.get('newPassword').hasError('minlength') && passwordForm.get('newPassword').touched">Длина пароля должен быть больше 3 символов</span>
        <span class="text-danger" *ngIf="passwordForm.get('newPassword').hasError('maxlength') && passwordForm.get('newPassword').touched">Длина пароля должен быть меньше 15 символов</span>
      </div>
      <div class="form-group col-lg-12">
        <label>Повторите пароль:</label>
        <input class="form-control" type="password" placeholder="повторите пароль" formControlName="repeatPassword">
        <span *ngIf="_matchingPasswordsError" class="text-danger">{{_matchingPasswordsError}}</span>
      </div>
      <app-loading [loading] = "loadingPassword" style="width: 20%"></app-loading>
      <div class="form-group col-lg-12">
        <input class="form-control submit" type="submit"   [disabled] = "!passwordForm.valid" value="Подтвердить" (click)="_changeAdminPassword()">
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<!-- izmenit procenti -->

<mat-accordion class="col-lg-4">
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" >
    <mat-expansion-panel-header>
      <mat-panel-title style="color:#01675a;font-weight: bold">
        Изменить проценты
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table class="table">
      <tr>
        <td>Сумма для активации</td>
        <td>{{configData?.ClentActiveBonusPercent}}</td>
        <td>
          <i class="fa fa-edit editIcon" (click) = "openDialog('summa')" style="cursor: pointer;color: green"></i>
        </td>
      </tr>
      <!-- <tr>
        <td>Процент кредита</td>
        <td>{{configData?.CreditProcent}}</td>
        <td>
          <i class="fa fa-edit editIcon" (click) = "openDialog('credit')" style="cursor: pointer;color: green"></i>
        </td>
      </tr> -->
      <tr>
        <td>Процент компании</td>
        <td>{{configData?.CompanyPrecent}}</td>
        <td>
          <i class="fa fa-edit editIcon" (click) = "openDialog('company')" style="cursor: pointer;color: green"></i>
        </td>
      </tr>
      <tr>
        <td>Процент кассира</td>
        <td>{{configData?.KassaProcent}}</td>
        <td>
         <i class="fa fa-edit editIcon" (click) = "openDialog('kassa')" style="cursor: pointer;color: green"></i>
        </td>
      </tr>
  
    </table>
  </mat-expansion-panel>
</mat-accordion>

</div>
<div class="row">
<app-settings-accordion class="col-lg-4 col-sm-12 col-md-6" [data] = "{title: 'Язык', inputText: 'языка',placeholder: 'язык',formName: 'languageName', forAdd: 'language'}" [tabledata] = "language" (deleteEvent) = "onClickDelete($event)"  [type]="'language'" (changed)="changedData($event)" ></app-settings-accordion>

<app-settings-accordion  class="col-lg-4 col-sm-12 col-md-6" [data] = "{title: 'Страна', inputText: 'страны',placeholder: 'страна',formName: 'countryName',forAdd: 'country'}" [tabledata] = "country" (deleteEvent) = "onClickDelete($event)" [type]="'country'" (changed)="changedData($event)"></app-settings-accordion>

<app-settings-accordion  class="col-lg-4 col-sm-12 col-md-6" [data] = "{title: 'Валюта', inputText: 'валюты',placeholder: 'валюта',formName: 'currencyName',forAdd: 'currency'}" [tabledata] = "currency" (deleteEvent) = "onClickDelete($event)" [type]="'currency'" (changed)="changedData($event)"></app-settings-accordion>
</div>
