.close{
    width: 15px;
    height: 15px;
    background-image: url("../../../../assets/images/close.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: right;
}
form{
    .lgn{
        height: fit-content;
        label{
            font-weight: bold;
            color: #01675a
        }
        .form-control{
            border: 1px solid #01675a;
            color: black
        }
    }
}
.image{
    height: 200px;
    width: 100%;
    .img{
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}
.title{
    width: 100%;
    height: 50px;
    display: flex;
    h4{
        margin: auto;
        color: #01675a
    }
}
.formDiv{
    display: -webkit-inline-box;
    height: 30px;
    width: 100%;
}
.form-group{
    margin-bottom: 6px;
}
*[wordWrap]{
    word-wrap: break-word;
}