<div class="close" (click)="onNoClick()"></div>
<div style="max-height: 80vh;margin-top: 25px">
  <form style="padding: 10px 30px">
    <div class="lgn">
      <div class="form-group" *ngIf="data.boolData">
        <label>Изображение:</label>
        <div class="image">
          <div class="img" [ngStyle]="getImage(data.data.AnnouncementsImage)"></div>
        </div>
      </div>
      <div class="form-group">
        <label>Имя парламента:</label>
        <div class="form-control" wordWrap>{{data.data.CompanyName}}</div>
      </div>
      <div class="form-group">
        <label>Название бара:</label>
        <div class="form-control" wordWrap>{{data.data.BarName}}</div>
      </div>
      <div class="form-group" *ngIf="data.boolData">
        <label>Начало:</label>
        <div class="form-control" wordWrap>{{data.data.StartTime}}</div>
      </div>
      <div class="form-group" *ngIf="data.boolData">
        <label>Конец:</label>
        <div class="form-control" wordWrap>{{data.data.EndTime}}</div>
      </div>
      <div class="form-group" *ngIf="!data.boolData">
        <label>Дата:</label>
        <div class="form-control" wordWrap>{{data.data.Time}}</div>
      </div>
      <div class="form-group">
        <label>Заголовок:</label>
        <div class="form-control" wordWrap>{{data.data.Title}}</div>
      </div>
      <div class="form-group">
        <label>Описание:</label>
        <div class="form-control" wordWrap>{{data.data.Text}}</div>
      </div>
    </div>
  </form>
</div>