<div class="close" (click)="onNoClick()"></div>
<form [formGroup] = "createProviderForm">
  <div class="creatingProvider">
    <h4>Создать провайдер</h4>
  </div>
  <div class="lgn">
    <div class="form-group">
      <label>Имя:</label>
      <input type="text" value="" placeholder="имя" class="form-control" formControlName="name">
      <span class="text-danger" *ngIf="createProviderForm.get('name').hasError('required') && createProviderForm.get('name').touched">Имя необходимо</span>
      <span class="text-danger" *ngIf="createProviderForm.get('name').hasError('minlength') && createProviderForm.get('name').touched">Длина имени должен быть больше 3 символов</span>
    </div>
    <div class="form-group">
      <label>Фамилия:</label>
      <input type="text" value="" placeholder="фамилия" class="form-control" formControlName="surname">
      <span class="text-danger" *ngIf="createProviderForm.get('surname').hasError('required') && createProviderForm.get('surname').touched">Фамилия необходимо</span>
      <span class="text-danger" *ngIf="createProviderForm.get('surname').hasError('minlength') && createProviderForm.get('surname').touched">Длина фамилии должен быть больше 3 символов</span>
    </div>
    <div class="form-group">
      <label>Логин:</label>
      <input type="text" value="" placeholder="логин" class="form-control" formControlName="username">
      <span class="text-danger" *ngIf="createProviderForm.get('username').hasError('required') && createProviderForm.get('username').touched">Логин необходимо</span>
      <span *ngIf="loginMessage" class="text-danger">{{loginMessage}}</span>
      <span class="text-danger" *ngIf="createProviderForm.get('username').hasError('minlength') && createProviderForm.get('username').touched">Длина логина должен быть больше 3 символов</span>
    </div>
    <div class="form-group">
      <label>Пароль:</label>
      <input type="password" value="" placeholder="пароль" class="form-control" formControlName="password">
      <span class="text-danger" *ngIf="createProviderForm.get('password').hasError('required') && createProviderForm.get('password').touched">Пароль необходимо</span>
      <span class="text-danger" *ngIf="createProviderForm.get('password').hasError('minlength') && createProviderForm.get('password').touched">Длина пароля должен быть больше 3 символов</span>
      <span class="text-danger" *ngIf="createProviderForm.get('password').hasError('maxlength')">Длина пароля должен быть меньше 15 символов </span>
    </div>
    
    <div class="form-group">
      <label>Повторите пароль:</label>
      <input type="password" value="" placeholder="повторите пароль" class="form-control" formControlName="repeatPassword">
      <span *ngIf="_matchingPasswordsError" class="text-danger">{{_matchingPasswordsError}}</span>
    </div>
    <app-loading [loading] = "loading"></app-loading>

    <div style="display: flex; height: fit-content;width: 100%;margin-top: 20px">
      <input class = "form-control submit" type="submit" (click) = "createProvider()" [disabled] = "!createProviderForm.valid" value ="Создать">
    </div>
  </div>
</form>