.close{
    width: 15px;
    height: 15px;
    background-image: url("../../../../assets/images/close.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: right;
}
form{
    .creatingProvider{
       height: 50px;
       width: 100%;
       text-align: center;
       margin-top: 10px;
       h4{
          color: #01675a;
        }
    }
    .lgn{
        height: fit-content;
        padding: 0px 20px;
        label{
            font-weight: bold
        }
        .submit{
            width: 60%;
            height: fit-content;
            margin: auto;
            background: #01675a;
            color: white;
            font-weight: bold;
            cursor: pointer;
            input{
                margin: auto;
                width: 130px;
                background-color: #01675a;
                height: 40px;
                font-weight: 600;
                color: white;
                cursor: pointer
            }
        }
        .selStyle{
            background-color: #c4d8d5;
            color: black;
            font-size: 15px;
            border: none !important
        }
    }
}
:host ::ng-deep mat-dialog-container{
    overflow-x: hidden;
    overflow-y: hidden
}
