<div class="close" (click)="onNoClick()"></div>
<form [formGroup]="createAdminForm" *ngIf = "!data.edit">
  <div class="creatingAdmin">
    <h3>Создать админ</h3>
  </div>
  <div class="lgn">
    <div class="form-group">
      <label>Имя пользователя:</label>
      <input type="text" value="" placeholder="логин" class="form-control" formControlName="username">
      <span class="text-danger" *ngIf="createAdminForm.get('username').hasError('required') && createAdminForm.get('username').touched">Имя необходимо</span>
      <span class="text-danger" *ngIf="createAdminForm.get('username').hasError('minlength') && createAdminForm.get('username').touched">Длина имени должен быть больше 3 символов</span>
    </div>
    <!-- <div class="role form-group">
      <label>Роль:</label>
      <div class="check">
        <form [formGroup]="checkboxGroup">
          <div class="checkbox" *ngFor="let control of checkboxGroup.controls['checkBoxes'].controls;let i = index;" style="padding: 5px">
            <input type="checkbox" name="vehicle"  [formControl]="control"> {{checkboxes[i].title}}
          </div>
        </form>
      </div>
    </div> -->
    <div class="form-group">
      <label>Новый пароль:</label>
      <input type="password" value="" placeholder="пароль" class="form-control" formControlName="newPassword">
      <span class="text-danger" *ngIf="createAdminForm.get('newPassword').hasError('required') && createAdminForm.get('newPassword').touched">Пароль необходимо</span>
      <span class="text-danger" *ngIf="createAdminForm.get('newPassword').hasError('minlength') && createAdminForm.get('newPassword').touched">Длина пароля должен быть больше 3 символов</span>
      <span class="text-danger" *ngIf="createAdminForm.get('newPassword').hasError('maxlength')">Длина пароля должен быть меньше 15 символов </span>
   
    </div>
    <div class="form-group">
        <label>Повторите пароль:</label>
        <input type="password" value="" placeholder="пароль" class="form-control" formControlName="repeatPassword">
        <span *ngIf="_matchingPasswordsError" class="text-danger">{{_matchingPasswordsError}}</span>

      </div>
      <app-loading [loading] = "loading" style = "width: 100%"></app-loading>
    <div class="submit">
      <input class = "form-control" type = "submit" [disabled]="!createAdminForm.valid" (click)="onClickCreate()" value = "Создать">
    </div>
  </div>
</form>



<form [formGroup]="editForm" *ngIf = "data.edit">
  <div class="creatingAdmin">
    <h3>Редактировать</h3>
  </div>
  <div class="lgn">
    <div class="form-group">
      <label>Имя пользователя:</label>
      <input type="text" value="" placeholder="логин" class="form-control" formControlName="usernameEdit">
      <span class="text-danger" *ngIf="editForm.get('usernameEdit').hasError('required') && editForm.get('usernameEdit').touched">Имя необходимо</span>
      <span class="text-danger" *ngIf="editForm.get('usernameEdit').hasError('minlength') && editForm.get('usernameEdit').touched">Длина имени должен быть больше 3 символов</span>
    </div>
    <!-- <div class="role form-group">
      <label>Роль:</label>
      <div class="check">
        <form [formGroup]="checkboxGroup">
          <div class="checkbox" *ngFor="let control of checkboxGroup.controls['checkBoxes'].controls;let i = index;">
            <input type="checkbox" name="vehicle"  [formControl]="control"> {{checkboxes[i].title}}
          </div>
        </form>
      </div>
    </div> -->
    <div class="form-group">
      <label>Изменить пароль</label>
      <input type="password" value="" class="form-control" placeholder="изменить пароль" formControlName="newEditPassword">
      <span class="text-danger" *ngIf="editForm.get('newEditPassword').hasError('required') && editForm.get('newEditPassword').touched">Пароль необходимо</span>
      <span class="text-danger" *ngIf="editForm.get('newEditPassword').hasError('minlength') && editForm.get('newEditPassword').touched">Длина пароля должен быть больше 3 символов</span>
      <span class="text-danger" *ngIf="editForm.get('newEditPassword').hasError('maxlength')">Длина пароля должен быть меньше 15 символов </span>
    </div>
    <div class="form-group">
        <label>Повторите пароль:</label>
        <input type="password" value="" placeholder="пароль" class="form-control" formControlName="repeatEditPassword">
        <span *ngIf="_matchingEditPasswordsError" class="text-danger">{{_matchingEditPasswordsError}}</span>

      </div>
    
      
    <div class="submit">
      <input class = "form-control" type = "submit" [disabled]="editForm.invalid" (click)="onClickCreate()" value = "Редактировать">
    </div>
  </div>
</form>