.close{
    width: 15px;
    height: 15px;
    background-image: url("../../../../assets/images/close.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: right;
}
form{
    .creatingAdmin{
       height: 50px;
       width: 100%;
       text-align: center;
       margin-top: 10px;
       h3{
          color: #01675a;
        }
    }
    .lgn{
        height: fit-content;
        padding: 10px;
        label{
            font-weight: bold
        }
        .submit{
            width: 100%;
            height: fit-content;
            display: flex;
            input{
                margin: auto;
                cursor: pointer;
                width: 130px;
                background-color: #01675a;
                height: 40px;
                font-weight: 600;
                color: white;
            }
        }
    }
}
:host ::ng-deep mat-dialog-container{
    overflow-x: hidden;
    overflow-y: hidden
}