<mat-accordion >
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" style ="width: 360px;">
    <mat-expansion-panel-header>
      <mat-panel-title style="color:#01675a;font-weight: bold">
        {{data.title}}
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="addCountry">
      <div class="country" (click)="openDialog(data)"></div>
    </div>
    <app-settings-table [data]="tabledata" (delete) = "deleted($event)" [type]="type"></app-settings-table>

  </mat-expansion-panel>
</mat-accordion>
