.addCountry{
    margin-left: 20px;
    height: fit-content;
    display: flex;
    .country{
    height: 50px;
    width: 50px;
    background-image: url("../../../../assets/images/add.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor:pointer;
    }
    
}

:host::ng-deep .mat-expansion-panel{
    width: 100% !important;
    min-width: fit-content;
}

