.addCodeForm{
    margin-top: 20px;
    .btn{
        width: 100%;
        display: flex;
        
    }
    .submit{
        background-color: #01675a;
        color: white;
        cursor: pointer;
        width: 50%;
        margin: auto;
    }
    .form-group{
        margin-bottom: 1rem
    }
}
h5{
    text-align: center
}

