<div *ngIf = "!forCodeEdit">
<h5>У этого парламента нету кода</h5>
<h5>Пожалуйста введите код</h5>
</div>
<h5 *ngIf = "forCodeEdit">Редактировать код</h5>
<form class="addCodeForm" [formGroup]="addCodeForm">
  <div class="form-group">
    <input type="text" formControlName="code" class= "form-control" style= "margin-bottom: 8px;" OnlyNumber="true">
    <span class="text-danger"  *ngIf="forNegativeCode">{{forNegativeCode}}</span>
  </div>
  <app-loading [loading]="loading" style="width: 100%"></app-loading>
    <div class="btn" class="form-group">
        <input type="submit"  (click) = "postCode()" [value]="buttonValue" class="form-control submit"  [disabled]="!addCodeForm.valid">
    </div>
</form>