.forChangeStatisticsWeek{
    display: flex;
    .arrows{
       margin-left:auto;
       i{
           cursor: pointer;
       }
   }
}
.loading{
    background-color:rgba(255,255,255, 0.5);
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    display: flex;  
}
 p{
    font-weight: bold;
    margin: auto;
    color: white
}
.infoParl{
    width: 100%;
    height: 50px;
    display: flex;
    margin: 20px 0px 30px 0px;
}
.infoClient{
    display: flex;
    background-color:#47b6b6;
    width: 99%;
    height: 50px;
    margin: 20px 0px 10px 0px;
}
.icon-maximize:before {
    content: none;
}