<div style = "position: relative;padding: 0.2rem  3.6rem">
<app-card [title]="'Клиенты'">
    <div class="forChangeStatisticsWeek">
        <div class="arrows">
          <i class="material-icons" (click)="changeClientsWeekLeft()">keyboard_arrow_left</i>
          <i class="material-icons" (click)="changeClientsWeekRight()">keyboard_arrow_right</i>
        </div>
      </div>
  <p-chart *ngIf="isClientStatAvailable" type="line" [data]="data2" ></p-chart>
  <div class="infoClient">
    <p style="margin: auto">Клиенты - {{clientsCount}} </p>
  </div>
</app-card>

<app-card [title]="'Парламенты'">
  <div class="forChangeStatisticsWeek">
    <div class="arrows">
      <i class="material-icons" (click)="changeStatisticsWeekLeft()">keyboard_arrow_left</i>
      <i class="material-icons" (click)="changeStatisticsWeekRight()">keyboard_arrow_right</i>
    </div>
  </div>
  
  <chart [type]="type1" *ngIf="isParliamentStatAvailable" [data]="data1" [options]="options" style="width: 100%; height: 470px;"></chart>
  <div  class="row infoParl" *ngFor = "let item of dataOfParliaments" >
    <div class="col-lg-4" style="background-color:#5f9ea0;display: flex">
      <p>Сумма - {{item.Summa}} </p>
    </div>
    <div class="col-lg-4" style="background-color:#b0e0e6;display: flex">
      <p>Бонус - {{item.Bonus}} </p>
    </div>
    <div class="col-lg-4" style="background-color:#4682b4;display: flex">
      <p>Накопление - {{item.Accumulation}}</p>
    </div>
    </div>
</app-card>

<div class="loading" *ngIf ="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>