<div style="height: fit-content;width: 100%">
<div style="display: -webkit-inline-box;margin-top:10px">
  <p-calendar [(ngModel)]="kassesRangeDates" (ngModelChange)="filterKassa(bar.Id)" selectionMode="range" readonlyInput="true"></p-calendar>
  <div class="deleteDate" (click) = "deleteKassDate()"></div>
</div>
<table style="position: relative">
  <thead>
    <collapsible-table-row>
      <th>ID</th>
      <th>Название кассы</th>
      <th>Торговля
        <i class="fa fa-arrow-up ascendingOrder" [ngStyle]="{'color':(sortBy=='Summa' && descent=='+')? 'greenyellow' : 'white','pointer-events':(kassesRangeDates) ? 'none' : 'inherit'}"
          (click)=" getCassesData('Summa','+',bar.Id)"></i>
        <i class="fa fa-arrow-down descendingOrder" [ngStyle]="{'color':(sortBy=='Summa' && descent=='-')? 'greenyellow' : 'white','pointer-events':(kassesRangeDates) ? 'none' : 'inherit'}"
          (click)=" getCassesData('Summa','-',bar.Id)"></i>
      </th>
      <th>Бонус
        <i class="fa fa-arrow-up ascendingOrder" [ngStyle]="{'color':(sortBy=='Bonus' && descent=='+')? 'greenyellow' : 'white','pointer-events':(kassesRangeDates) ? 'none' : 'inherit'}"
          (click)=" getCassesData('Bonus','+',bar.Id)"></i>
        <i class="fa fa-arrow-down descendingOrder" [ngStyle]="{'color':(sortBy=='Bonus' && descent=='-')? 'greenyellow' : 'white','pointer-events':(kassesRangeDates) ? 'none' : 'inherit'}"
          (click)=" getCassesData('Bonus','-',bar.Id)"></i>
      </th>

      <th>Накопление
        <i class="fa fa-arrow-up ascendingOrder" [ngStyle]="{'color':(sortBy=='Accumulation' && descent=='+')? 'greenyellow' : 'white','pointer-events':(kassesRangeDates) ? 'none' : 'inherit'}"
          (click)=" getCassesData('Accumulation','+',bar.Id)"></i>
        <i class="fa fa-arrow-down descendingOrder" [ngStyle]="{'color':(sortBy=='Accumulation' && descent=='-')? 'greenyellow' : 'white','pointer-events':(kassesRangeDates) ? 'none' : 'inherit'}"
          (click)=" getCassesData('Accumulation','-',bar.Id)"></i>
      </th>
    </collapsible-table-row>
  </thead>

  <tbody *ngFor="let kass of bar.kassa">
    <collapsible-table-row style="border-bottom: 1px solid #d6d4d4">
      <td>{{kass.Id}}</td>
      <td>{{kass.Username}}</td>
      <td>{{kass.Summa}}</td>
      <td>{{kass.Bonus}}</td>
      <td>{{kass.Accumulation}}</td>
    </collapsible-table-row>
  </tbody>
  <app-loading-full-screen [loading]="loading" style="width: 100%" ></app-loading-full-screen>
</table>

<div class="paginator" *ngIf = "totalCount > 0">
  <mat-paginator [length]="totalCount" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]" (page)="getPaginateCassesData($event,bar.Id)">
  </mat-paginator>
</div>
</div>

<div *ngIf = "isCassesAvailable && totalCount==0" style="width: 100%;display: flex;height: 60px;"><p style="margin: auto;color: black;font-weight: bold">Здесь ничего нет</p></div>
