@import '~materialize-css/dist/css/materialize.min.css';
.deleteDate{
    height: 15px;
    width: 15px;
    margin: 8px;
    background-image: url(../../../../assets/images/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer
}
:host ::ng-deep p-calendar{
    span{
         input:not([type="range"]){
            width: 200px !important;
        }
        }
    
}
:host ::ng-deep collapsible-table{
    margin-top: 20px !important;
    min-height: 150px;
    thead{
        collapsible-table-row{
                background-color: #01675a;
                th{
                    color: white;
                    text-align: center
                }
               
                 
        }  
    }
    tbody{
    collapsible-table-row{
        td{
        background-color: white;
        text-align: center;
        
        }
        .deleteIcon{
            color: red;
            font-size: 20px;
        } 
        .example-margin.mat-checked {
           .mat-slide-toggle-label{
               .mat-slide-toggle-bar{
                   background-color: rgba(33, 177, 15, 0.5);
                   .mat-slide-toggle-thumb-container{
                        .mat-slide-toggle-thumb{
                            background-color: #4ec737;
                        }
                   }
               }
           }
       }
    } 
}
.loading{
    background-color:rgba(255,255,255, 0.5);
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    display: flex; 
}
}
:host ::ng-deep mat-spinner{
    margin:auto;
    svg{
        width: 30px !important;
            height: 30px !important;
     circle {
        stroke: grey !important;
    }
}}
.ascendingOrder,.descendingOrder{
    cursor: pointer;
} 
.ascendingOrder:hover{
    color: greenyellow !important;
    
}
.descendingOrder:hover{
    color: greenyellow !important;
}

.paginator{
    background-color: #d5e6e4;
    margin-bottom: 20px;
}

.paginatorForFilter{
    background-color: white;
}