@import '~materialize-css/dist/css/materialize.min.css';
.deleteDate{
    height: 15px;
    width: 15px;
    margin: 8px;
    background-image: url(../../../../assets/images/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer
}
:host ::ng-deep p-calendar{
    span{
         input:not([type="range"]){
            width: 200px !important;
        }
        }
    
}
:host ::ng-deep collapsible-table{
    margin-top: 20px !important;
    min-height: 150px;
    thead{
        collapsible-table-row{
                background-color: #01675a;
                th{
                    color: white;
                    text-align: center
                }
               
                 
        }  
    }
    tbody{
    collapsible-table-row{
        td{
        background-color: white;
        text-align: center;
        
        }
        .deleteIcon{
            color: red;
            font-size: 20px;
        } 
        .example-margin.mat-checked {
           .mat-slide-toggle-label{
               .mat-slide-toggle-bar{
                   background-color: rgba(33, 177, 15, 0.5);
                   .mat-slide-toggle-thumb-container{
                        .mat-slide-toggle-thumb{
                            background-color: #4ec737;
                        }
                   }
               }
           }
       }
    } 
   collapsible-table-row-detail{
        
        collapsible-list-item{
        collapsible-body{
            box-shadow: none !important;
            padding: 0px 70px !important;
            border-bottom: none !important;
            table{
                margin-top: 20px;
            }
        }}
    }
}}
.ascendingOrder,.descendingOrder{
    cursor: pointer;
} 
.ascendingOrder:hover{
    color: greenyellow !important;
    
}
.descendingOrder:hover{
    color: greenyellow !important;
}

.paginator{
    background-color: #d5e6e4;
    
}

.paginatorForFilter{
    background-color: white;
}

.disable{
    opacity: 0.5;
    pointer-events: none;
}
.disableToggle{
    opacity: 0.5;
}
.pointer-all{
    pointer-events: all;
}
.inp{
    background-color: transparent;
    border-radius: 0;
    outline: none;
    height: 25px;
    width: 50px;
    font-size: 15px;
    margin: none;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
a:hover{
     color: green;
     border-bottom: 1px solid green;
     cursor: pointer
}
a{
    color: green
}
.fa-edit :hover{
     color: green
}