<div style="display: -webkit-inline-box;">
  <p-calendar [(ngModel)]="parliamentsRangeDates" (ngModelChange)="filterParliaments()" selectionMode="range" readonlyInput="true"></p-calendar>
  <div class="deleteDate" (click)="deleteParliamentDate()"></div>
</div>
<collapsible-table [type]="'expandable'" bordered style="width: 100%; height: fit-content;margin-top: 100px">

  <thead>
    <collapsible-table-row>
      <th>ID</th>
      <th>Имя парламента</th>
      <th>Адрес</th>
      <th>
        Сумма
        <i class="fa fa-arrow-up ascendingOrder" [ngStyle]="{'color':(sortBy=='Summa' && descent=='+')? 'greenyellow' : 'white','pointer-events':(parliamentsRangeDates) ? 'none' : 'inherit'}"
          (click)="getParliamentsData('Summa','+')"></i>
        <i class="fa fa-arrow-down descendingOrder" [ngStyle]="{'color':(sortBy=='Summa' && descent=='-')? 'greenyellow' : 'white','pointer-events':(parliamentsRangeDates) ? 'none' : 'inherit'}"
          (click)="getParliamentsData('Summa','-')"></i>
      </th>
      <th>
        Бонус
        <i class="fa fa-arrow-up  ascendingOrder" [ngStyle]="{'color':(sortBy=='Bonus' && descent=='+')? 'greenyellow' : 'white','pointer-events':(parliamentsRangeDates) ? 'none' : 'inherit'}"
          (click)="getParliamentsData('Bonus','+')"></i>
        <i class="fa fa-arrow-down descendingOrder" [ngStyle]="{'color':(sortBy=='Bonus' && descent=='-')? 'greenyellow' : 'white','pointer-events':(parliamentsRangeDates) ? 'none' : 'inherit'}"
          (click)="getParliamentsData('Bonus','-')"></i>
      </th>
      <th>
        Накопление
        <i class="fa fa-arrow-up ascendingOrder" [ngStyle]="{'color':(sortBy=='Accumulation' && descent=='+')? 'greenyellow' : 'white','pointer-events':(parliamentsRangeDates) ? 'none' : 'inherit'}"
          (click)="getParliamentsData('Accumulation','+')"></i>
        <i class="fa fa-arrow-down descendingOrder" [ngStyle]="{'color':(sortBy=='Accumulation' && descent=='-')? 'greenyellow' : 'white','pointer-events':(parliamentsRangeDates) ? 'none' : 'inherit'}"
          (click)="getParliamentsData('Accumulation','-')"></i>
      </th>
      <th>Долг</th>
      <th style="width: 50px;">Активный или пассивный</th>
      <th>Код</th>
      <th>Удалить</th>
    </collapsible-table-row>
  </thead>

  <tbody *ngFor="let item of _parliamentsInfo">
    <collapsible-table-row [detail]="detail1" (click)="item.open = !item.open" style="border-bottom: 1px solid #d6d4d4" [ngClass]="{'disable' : !item.IsActive}">
      <td>{{item.Id}}</td>
      <td>{{item.CompanyName}}</td>
      <td>{{item.Address}}</td>
      <td>{{item.Summa}}</td>
      <td>{{item.Bonus}}</td>
      <td>{{item.Accumulation}}</td>
      <td>
        <div style="width: 50%;display: -webkit-inline-box;margin-left: 15px;">
          <p [ngStyle]="getStyle(item) " style="margin: 0;font-weight: bold">{{item.Dept}}</p>
          <i class="fa fa-edit" (click)="onClickDebtEdit(item.Id)" style="margin-left: 3px;color: green"></i>
        </div>
      </td>
      <td>
        <mat-slide-toggle [ngClass]="{'disableToggle' : !item.IsActive}" class="example-margin pointer-all" [color]="color" [checked]="item.IsActive"
          [disabled]="disabled" (click)="clickToggle(item)"></mat-slide-toggle>
      </td>
      <td>
        <div style="width: 50%;display: -webkit-inline-box;margin-left: 30px;" *ngIf="item.ActiveCode">
          <span>{{item.ActiveCode}}</span>
          <i class="fa fa-edit" (click)="openDialog(item,true)" style="margin-left: 3px;color: green"></i>
        </div>
        <a *ngIf="!item.ActiveCode" style="color: green;font-weight: 600;" (click)="openDialog(item,false)">Создать код</a>
      </td>
      <td>
        <i class="fa fa-trash-o deleteIcon" aria-hidden="true" (click)="onClickDelete(item.Id)"></i>
      </td>
    </collapsible-table-row>
    <collapsible-table-row-detail #detail1>
      <app-bars-of-parliament [parliament]="item" [parliamentInfo]="_parliamentsInfo" [parliamentId]="item.Id" [open]="item.open"></app-bars-of-parliament>
    </collapsible-table-row-detail>
  </tbody>
  <app-loading-full-screen [loading]="loading" style="width: 100%;z-index: 999999999999999999"></app-loading-full-screen>
</collapsible-table>
<div class="paginator" *ngIf="totalCount > 0">
  <mat-paginator [length]="totalCount" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]" (page)="paginate($event)">
  </mat-paginator>
</div>
<div *ngIf="isParliamentsAvailable && totalCount==0" style="width: 100%;display: flex;height: 60px;">
  <p style="margin: auto;color: black;font-weight: bold">Здесь ничего нет</p>
</div>