<div class="close" (click)="onNoClick()"></div>

<form [formGroup]="addForm">
  <div class="addCountry">
    <h3>Добавить {{data.title}}</h3>
  </div>
  <div class="lgn">
    <div class="form-group" *ngIf = "data.forAdd != 'currency'">
      <label>Выберите изображение:</label>
      <div style="margin: 5px 0px 20px 0px;">
      <img  [ngStyle] = "{'background-image': 'url('+ localImage +')'}" class="img" >
      </div>
      <input type="file" (change)="photoUpload($event)" style="cursor: pointer" formControlName = "chooseImg" >
      <br>
      <span class="text-danger" *ngIf="addForm.get('chooseImg').hasError('required') && addForm.get('chooseImg').touched">Пожалуйста, выберите изображение</span>
    </div>
    <div class="form-group">
      <label>Название {{data.inputText}}:</label>
      <input type="text" value="" placeholder="{{data.placeholder}}" class="form-control" formControlName="name">
      <span class="text-danger" *ngIf="addForm.get('name').hasError('minlength') && addForm.get('name').touched">Имя должно быть больше 3 символов</span>
      <span class="text-danger" *ngIf="addForm.get('name').hasError('maxlength') && addForm.get('name').touched">Имя должно быть меньше 30 символов</span>
    </div>
    <div class= "form-group" *ngIf = "data.forAdd == 'currency'">
      <label>Символ:</label>
      <input type="text" value="" placeholder="symbol" class="form-control" formControlName="symbol">
      <span class="text-danger"  *ngIf="addForm.get('symbol').hasError('maxlength') && addForm.get('symbol').touched">Ваш введенный символ неверен</span>
    </div>
    <app-loading [loading] = "loading"></app-loading>
    <div style="display: flex; height: fit-content;width: 100%;margin-top: 20px">
      <input class="form-control submit" type="submit"   [disabled] = "!addForm.valid" value="Добавить" (click) = "create()">
    </div>
  </div>
</form>
