.close{
    width: 15px;
    height: 15px;
    background-image: url("../../../../assets/images/close.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: right;
}
form{
    .addCountry{
       height: 50px;
       width: 100%;
       h3{
          color: #01675a;
          margin-left: 10px;
        }
    }
    .lgn{
        height: fit-content;
        padding: 10px 5px 0px 5px;
        label{
            font-weight: bold
        }
        .submit{
            width: 60%;
            height: fit-content;
            margin: auto;
            background: #01675a;
            color: white;
            font-weight: bold;
            cursor: pointer;
            button{
                margin: auto;
                width: 130px;
                background-color: #01675a;
                height: 40px;
                font-weight: 600;
                color: white;
                cursor: pointer;
                border-radius: 50px;
            }
        }
    }
}
.img{
    width: 100px;
     height: 100px;
     background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}