.fa-check-square{
    font-size: 20px;
    color: yellowgreen;
}
.fa-times-circle{
    font-size: 22px;
    color: red;
}
:host ::ng-deep p-calendar{
    span{
         input:not([type="range"]){
            width: 200px !important;
        }
        }
    
}
.deleteDate{
    height: 15px;
    width: 15px;
    margin: 8px;
    background-image: url(../../../../assets/images/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer
}
table{
       margin-top: 30px; 
       margin-bottom: 0px !important;
    thead{
        tr{
            background-color: #01675a;
            border: 3px solid white;
             color: white;
             th{
                 text-align: center;
             }  
        }
    }
    tbody{
        tr{
            background: white;
            
            td{
                text-align: center;
            }
        }
        .deleteIcon{
            cursor: pointer;
            font-size: 20px;
            color: red;
        }
    }
}
.loading{
    background-color:rgba(255,255,255, 0.5);
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    display: flex;  
}
:host ::ng-deep mat-spinner{
    margin:auto;
    svg{
        width: 30px !important;
            height: 30px !important;
     circle {
        stroke: grey !important;
    }
}}
.ascendingOrder,.descendingOrder{
    cursor: pointer;
} 
.ascendingOrder:hover{
    color: greenyellow !important;
    
}
.descendingOrder:hover{
    color: greenyellow !important;
}
.paginator{
    background-color: #d5e6e4;
}
 