<div style="display: -webkit-inline-box;">
    <p-calendar [(ngModel)]="rangeDates" (ngModelChange)=" filterClients()" selectionMode="range" readonlyInput="true"></p-calendar>
    <div class="deleteDate" (click) = "deleteClientDate() "></div>
</div>
<div class="table-responsive tab">
    <table class="table table-styling" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя клиента</th>
                <th>Фамилия клиента</th>
                <th>Сумма
                    <i class="fa fa-arrow-up ascendingOrder"  [ngStyle]="{'color':(sortBy=='Summa' && descent=='+')? 'greenyellow' : 'white'}" (click)="getClientsData('Summa','+')"></i>
                    <i class="fa fa-arrow-down descendingOrder"   [ngStyle]="{'color':(sortBy=='Summa' && descent=='-')? 'greenyellow' : 'white'}" (click)="getClientsData('Summa','-')"></i>
                </th>
                <th>Бонус
                    <i class="fa fa-arrow-up ascendingOrder"  [ngStyle]="{'color':(sortBy=='Bonus' && descent=='+')? 'greenyellow' : 'white'}" (click)="getClientsData('Bonus','+')"></i>
                    <i class="fa fa-arrow-down descendingOrder"   [ngStyle]="{'color':(sortBy=='Bonus' && descent=='-')? 'greenyellow' : 'white'}" (click)="getClientsData('Bonus','-')"></i>
                </th>
                <th>Накопление
                    <i class="fa fa-arrow-up ascendingOrder"   [ngStyle]="{'color':(sortBy=='Accumulation' && descent=='+')? 'greenyellow' : 'white'}" (click)="getClientsData('Accumulation','+')"></i>
                    <i class="fa fa-arrow-down descendingOrder"  [ngStyle]="{'color':(sortBy=='Accumulation' && descent=='-')? 'greenyellow' : 'white'}" (click)="getClientsData('Accumulation','-')"></i>
                </th>
                <th>Торговля с бонусом</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of _clientInfo">
            <tr>
                <td>{{item.Id}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Surname}}</td>
                <td>{{item["sum(Summa)"]}}</td>
                <td>{{item["sum(t.Bonus)"]}}</td>
                <td>{{item["sum(Accumulation)"]}}</td>
                <td>
                    <i class="fa" [ngClass] = " item.CanTradeWithBonus ? 'fa-check-square' : 'fa-times-circle'"></i>
                   
                </td>
                <td>
                    <i class="fa fa-trash-o deleteIcon" aria-hidden="true" (click)="onClickDelete(item.Id)"></i>
                </td>
            </tr>
        </tbody>
        <app-loading-full-screen [loading]="loading" style="width: 100%" ></app-loading-full-screen>
    </table>
</div>
<div class="paginator" *ngIf = "totalCount > 0">
    <mat-paginator [length]="totalCount" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]" (page)="getPaginateClientsData($event)">
    </mat-paginator>
  </div>
  <div *ngIf = "isClientsAvailable && totalCount==0" style="width: 100%;display: flex;height: 60px;"><p style="margin: auto;color: black;font-weight: bold">Здесь ничего нет</p></div>