.image{
    display: flex;
    .img{
        height: 20px;
        width: 30px;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;

   .deleteIcon{
       cursor: pointer;
      color: red;
      font-size: 20px;
   }
   tr{
       border: 1px solid #c7cccb;
   }
}

td, th {
    padding: 8px;
    
}
.symbol{
    margin: auto;
    font-size: 15px;
    color: black
}
