<table >
    <!-- <tr>
      <th style="width: 150px;" >{{(type=='currency') ? 'Symbol' : 'Image'}}</th>
      <th>Name</th>
      <th style="width: 150px;" *ngIf="type && type=='currency'">Coefficent</th>
      <th style="width: 150px;">Delete</th>
    </tr> -->
    <tr *ngFor="let item of data">
      
      <td class="image" *ngIf="type!='currency'"><div  class="img" [ngStyle] = "setImage(item)"></div></td>
      <td class="image" *ngIf="type=='currency'" style="display: flex"><p class = "symbol">{{item.Symbol}}</p></td>
      <td>{{item.Name}}</td>
      <td>
        <i class="fa fa-trash-o deleteIcon" aria-hidden="true" (click) = "onClickDelete(item.Id)"></i>
      </td>
    </tr>

  </table>