<div style="height: fit-content;width:100%">
  <div style="display: -webkit-inline-box;margin-top:10px">
    <p-calendar [(ngModel)]="barsRangeDates" (ngModelChange)="filterBars(parliament.Id)" selectionMode="range" readonlyInput="true"></p-calendar>
    <div class="deleteDate" (click)="deleteBarDate()"></div>
  </div>
  <table style= "position: relative">
    <thead>
      <collapsible-table-row>
        <th>ID</th>
        <th>Название бара</th>
        <th>Торговля
          <i class="fa fa-arrow-up ascendingOrder" [ngStyle]="{'color':(sortBy=='Summa' && descent=='+')? 'greenyellow' : 'white','pointer-events':(barsRangeDates) ? 'none' : 'inherit'}"
            (click)="getBarsData('Summa','+',parliament.Id)"></i>
          <i class="fa fa-arrow-down descendingOrder" [ngStyle]="{'color':(sortBy=='Summa' && descent=='-')? 'greenyellow' : 'white','pointer-events':(barsRangeDates) ? 'none' : 'inherit'}"
            (click)="getBarsData('Summa','-',parliament.Id)"></i>
        </th>
        <th>Бонус
          <i class="fa fa-arrow-up ascendingOrder" [ngStyle]="{'color':(sortBy=='Bonus' && descent=='+')? 'greenyellow' : 'white','pointer-events':(barsRangeDates) ? 'none' : 'inherit'}"
            (click)="getBarsData('Bonus','+',parliament.Id)"></i>
          <i class="fa fa-arrow-down descendingOrder" [ngStyle]="{'color':(sortBy=='Bonus' && descent=='-')? 'greenyellow' : 'white','pointer-events':(barsRangeDates) ? 'none' : 'inherit'}"
            (click)="getBarsData('Bonus','-',parliament.Id)"></i>
        </th>
        <th>Накопление
          <i class="fa fa-arrow-up ascendingOrder" [ngStyle]="{'color':(sortBy=='Accumulation' && descent=='+')? 'greenyellow' : 'white','pointer-events':(barsRangeDates) ? 'none' : 'inherit'}"
            (click)="getBarsData('Accumulation','+',parliament.Id)"></i>
          <i class="fa fa-arrow-down descendingOrder" [ngStyle]="{'color':(sortBy=='Accumulation' && descent=='-')? 'greenyellow' : 'white','pointer-events':(barsRangeDates) ? 'none' : 'inherit'}"
            (click)="getBarsData('Accumulation','-',parliament.Id)"></i>
        </th>
        <th>Процент</th>
      </collapsible-table-row>
    </thead>

    <tbody *ngFor="let bar of parliament.bar">
      <collapsible-table-row [detail]="detail2" (click)="bar.openKassa = !bar.openKassa" style="border-bottom: 1px solid #d6d4d4">
        <td>{{bar.Id}}</td>
        <td>{{bar.Name}}</td>
        <td>{{bar["sum(Summa)"]}}</td>
        <td>{{bar["sum(t.Bonus)"]}}</td>
        <td>{{bar["sum(Accumulation)"]}}</td>
        <td>{{bar.Percent}}%</td>
      </collapsible-table-row>
      <collapsible-table-row-detail #detail2>
        <app-kasses-of-bar [bar]="bar" [parliamentInfo]="parliamentInfo" [barId]="bar.Id" [openKassa]="bar.openKassa"></app-kasses-of-bar>
      </collapsible-table-row-detail>
    </tbody>
    <app-loading-full-screen [loading]="loading" style="width: 100%" ></app-loading-full-screen>
  </table>
  
  <div class="paginator" *ngIf = "totalCount > 0">
    <mat-paginator [length]="totalCount" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]" (page)="getPaginateBarsData($event,parliament.Id)">
    </mat-paginator>
  </div>
</div>
<div *ngIf="isBarsAvailable && totalCount==0" style="width: 100%;display: flex;height: 60px;">
  <p style="margin: auto;color: black;font-weight: bold">Здесь ничего нет</p>
</div>
