@import '~materialize-css/dist/css/materialize.min.css';
.deleteDate{
    height: 15px;
    width: 15px;
    margin: 8px;
    background-image: url(../../../../assets/images/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer
}
:host ::ng-deep p-calendar{
    span{
         input:not([type="range"]){
            width: 200px !important;
        }
        }
    
}
table{
    thead{
        collapsible-table-row{
                background-color: #01675a;
                th{
                    color: white;
                    text-align: center
                }
               
                 
        }  
    }
    tbody{
   
   collapsible-table-row-detail{
        
        collapsible-list-item{
        collapsible-body{
            box-shadow: none !important;
            padding: 0px 70px !important;
            border-bottom: none !important;
            table{
                margin-top: 10px;
            }
            div{
                margin-top: 10px;
                
            }
        }}
    }
}}
.loading{
    background-color:rgba(255,255,255, 0.5);
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    display: flex;  
}

:host ::ng-deep mat-spinner{
    margin:auto;
    svg{
        width: 30px !important;
            height: 30px !important;
     circle {
        stroke: grey !important;
    }
}}
.ascendingOrder,.descendingOrder{
    cursor: pointer;
} 
.ascendingOrder:hover{
    color: greenyellow !important;
    
}
.descendingOrder:hover{
    color: greenyellow !important;
}

.paginator{
    background-color: #d5e6e4;
    margin-bottom: 20px;
}

.paginatorForFilter{
    background-color: white;
}

