<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <form class="md-float-material form-material loginForm" action="javascript:" [formGroup]= "loginForm">
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Войти</h3>
                </div>
                <div style="display: flex; width: 100%;margin-bottom: 10px;"><span class="text-danger" *ngIf="message" style= "margin: auto">{{message}}</span></div>
              </div>
              
              <div class="form-group form-primary">
                <mat-form-field style="width:100%">
                  <input matInput placeholder="Логин" formControlName="username">
                </mat-form-field>
                <span class="text-danger" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">Это обязательное поле</span>
              </div>
              <div class="form-group form-primary">
                <mat-form-field style="width:100%" >
                  <input matInput placeholder="Пароль" formControlName="password" type="password">
                </mat-form-field>
                <span class="text-danger" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">Это обязательное поле</span>
              </div>
              <app-loading [loading] = "loading"></app-loading>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <input  type="submit" class="btn btn-primary btn-md btn-block waves-light text-center m-b-20 myStyle" mdbRippleRadius (click)="adminSignIn()" value = "Вход">
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- end of form -->
      </div>
      <!-- Authentication card end -->
    </div>
    <!-- end of col-sm-12 -->
  </div>
  <!-- end of container-fluid -->
</section>