.myStyle{
    background-color: #01675a !important;
    border-color: #01675a !important;
}
.checkbox{
    border: 2px solid #01675a !important;
}
.forgot:hover{
    color: #01675a !important;
}
.registr:hover{
    color: #01675a !important;
}
.fa-check:before{
    color: #01675a !important
}
.form-primary:focus{
    color: #01675a
}

:host::ng-deep .mat-form-field-ripple{
    cursor: inherit !important;
    background-color:#01675a !important;
}

:host::ng-deep .mat-focused .mat-form-field-label{
    color:#01675a !important;
   
}