.pcoded[theme-layout="vertical"] 
.pcoded-navbar[active-item-theme="theme1"] 
.pcoded-item > li.active:hover > a,
 .pcoded[theme-layout="vertical"] 
 .pcoded-navbar[active-item-theme="theme1"]
  .pcoded-item > li.active > a,
   .pcoded[theme-layout="vertical"] 
   .pcoded-navbar[active-item-theme="theme1"]
    .pcoded-item > li.pcoded-trigger:hover > a,
     .pcoded[theme-layout="vertical"] 
     .pcoded-navbar[active-item-theme="theme1"] 
     .pcoded-item > li.pcoded-trigger > a, 
     .pcoded[theme-layout="vertical"] 
     .pcoded-navbar[active-item-theme="theme1"]
      .pcoded-item > li:hover:hover > a, 
      .pcoded[theme-layout="vertical"] 
      .pcoded-navbar[active-item-theme="theme1"] 
      .pcoded-item > li:hover > a{
    background: #01675a;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
}
